# Python stuff
**venv/*
start.sh
**/*.pyc
**/__pycache__/*

# Django stuff
db.sqlite3
picture_gallery/private_settings.py
**/migrations/*
media/*

# Files created by VS Code
**/.vscode/*


# Docker stuff
django.dev.env