{% extends 'index.html' %}
{% load static %}
{% if request.user and request.user.is_authenticated %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'admin.css' %}">
    {% endblock css %}
{% endif %}
{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="col-lg-12">
            <h3 class="text-center">
                {{album.name}}
                {% if request.user and request.user.is_authenticated %}
                    <div class="dropdown" style="display: inline;">
                        <a class="dropdown-toggle" href="#" id="dropdown_album_actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown_album_actions">
                            <a class="dropdown-item" href="{% url 'gallery_admin:toggle_protection_album' album.id %}">
                                {% if album.is_protected %}
                                    <span class="material-icons dropdown-actions-item">lock_open</span> <span class="dropdown-actions-items">Unprotect</span>
                                {% else %}
                                    <span class="material-icons dropdown-actions-item">lock</span> <span class="dropdown-actions-items">Protect</span>
                                {% endif %}
                            </a>
                            <a class="dropdown-item" href="{% url 'gallery_admin:delete_album' album.id %}"><span class="material-icons dropdown-actions-item">delete</span> <span class="dropdown-actions-items">Delete</span></a>
                            <a class="dropdown-item" href="{% url 'gallery_admin:edit_album' album.id %}"><span class="material-icons dropdown-actions-item">edit</span> <span class="dropdown-actions-items">Edit</span></a>
                            <a class="dropdown-item" href="{% url 'gallery_admin:share_link_album' album.id %}"><span class="material-icons dropdown-actions-item">link</span> <span class="dropdown-actions-items">Share link</span></a>
                            {% if album.uuid %}<a class="dropdown-item" href="{% url 'gallery_admin:delete_link_album' album.id %}"><span class="material-icons dropdown-actions-item">link_off</span> <span class="dropdown-actions-items">Delete link sharing</span></a>{% endif %}
                            <a class="dropdown-item" href="{% url 'gallery_admin:add_picture_from_album' album.id %}"><span class="material-icons dropdown-actions-item">add</span> <span class="dropdown-actions-items">Add pictures</span></a>
                        </div>
                    </div>
                {% endif %}
                {% if album.description %}
                    <br/><small class="text-muted">{{album.description}}</small>
                {% endif %}
                <br/><small class="text-muted font-weight-light"><i>{{album.start_date|date:"DATE_FORMAT"}}{% if album.end_date %} - {{album.end_date|date:"DATE_FORMAT"}}{% endif %}</i></small>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="card-columns">
            {% for album in child_albums %}
                {% include 'viewer/album_card.html' with album=album %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="card-columns">
            {% for picture in album.get_pictures %}
                <div class="card" >
                    <img src="{{picture.path.url}}" class="card-img-top">
                    {% if request.user and request.user.is_authenticated %}
                        <div class="card-footer">
                            <a class="float-right" href="{% url 'gallery_admin:delete_picture' picture.id %}"><span class="material-icons">delete</span></a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}