{% extends 'default/index.html' %}
{% block content %}
<div class="row">
    <div class="col-lg-10">
        <h3>All albums</h3>
    </div>
    <div class="col-lg-2">
        <a href="{% url 'gallery_admin:add_album' %}" class="btn btn-primary" style="width: 100%;">Add an album</a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Parent album</th>
                    <th>Protected</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for album in albums %}
                    <tr>
                        <td>{{album.id}}</td>
                        <td>{{album.name}}</td>
                        <td>{{album.start_date}}</td>
                        <td>{{album.end_date|default:'-'}}</td>
                        <td>{{album.parent_album|default:'-'}}</td>
                        <td>{{album.is_protected|yesno:'Yes,No'}}</td>
                        <td>
                            <a href="{% url 'gallery_admin:toggle_protection_album' album.id %}">
                                <span class="material-icons">{% if album.is_protected %}lock_open{% else %}lock{% endif %}</span>
                            </a>
                            <a href="{% url 'gallery_admin:delete_album' album.id %}"><span class="material-icons">delete</span></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}