{% extends 'default/index.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'admin.css' %}">
{% endblock css %}
{% block content %}
<div class="row">
    <div class="col-lg-9">
        <h3>All albums</h3>
    </div>
    <div class="col-lg-3">
        <div class="btn-group" style="width: 100%;">
            <a href="{% url 'gallery_admin:add_album' %}" class="btn btn-primary" >Add an album</a>
            <a href="{% url 'gallery_admin:add_picture' %}" class="btn btn-primary" >Add pictures</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Parent album</th>
                    <th>Protected</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for album in albums %}
                    <tr>
                        <td>{{album.id}}</td>
                        <td>{{album.name}}</td>
                        <td>{{album.start_date}}</td>
                        <td>{{album.end_date|default:'-'}}</td>
                        <td>{{album.parent_album|default:'-'}}</td>
                        <td>{{album.is_protected|yesno:'Yes,No'}}</td>
                        <td>
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" id="dropdown_album_actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdown_album_actions">
                                    <a class="dropdown-item" href="{% url 'viewer:album_id' album.id %}" target="_blank" rel="noopener noreferrer"><span class="material-icons">open_in_full</span> View</a>
                                    <a class="dropdown-item" href="{% url 'gallery_admin:toggle_protection_album' album.id %}">
                                        {% if album.is_protected %}
                                        <span class="material-icons dropdown-actions-item">lock_open</span> <span class="dropdown-actions-items">Unprotect</span>
                                        {% else %}
                                        <span class="material-icons dropdown-actions-item">lock</span> <span class="dropdown-actions-items">Protect</span>
                                        {% endif %}
                                    </a>
                                    <a class="dropdown-item" href="{% url 'gallery_admin:delete_album' album.id %}"><span class="material-icons dropdown-actions-item">delete</span> <span class="dropdown-actions-items">Delete</span></a>
                                    <a class="dropdown-item" href="{% url 'gallery_admin:edit_album' album.id %}"><span class="material-icons dropdown-actions-item">edit</span> <span class="dropdown-actions-items">Edit</span></a>
                                    <a class="dropdown-item" href="{% url 'gallery_admin:share_link_album' album.id %}"><span class="material-icons dropdown-actions-item">link</span> <span class="dropdown-actions-items">Share link</span></a>
                                    {% if album.uuid %}<a class="dropdown-item" href="{% url 'gallery_admin:delete_link_album' album.id %}"><span class="material-icons dropdown-actions-item">link_off</span> <span class="dropdown-actions-items">Delete link sharing</span></a>{% endif %}
                                    <a class="dropdown-item" href="{% url 'gallery_admin:add_picture_from_album' album.id %}"><span class="material-icons dropdown-actions-item">add</span> <span class="dropdown-actions-items">Add pictures</span></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}