SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=picture_gallery_dev
SQL_USER=picture_gallery
SQL_PASSWORD=picture_gallery
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
DEBUG=1
SECRET_KEY=my_secret_key
PAGETITLE=My app
